<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @clothing.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @clothing.category %>
</p>

<p>
  <strong>BRand:</strong>
  <%= @clothing.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @clothing.color %>
</p>

<p>
  <strong>Images:</strong>
  <%= @clothing.images %>
</p>

<%= link_to 'Edit', edit_clothing_path(@clothing) %> |
<%= link_to 'Back', clothings_path %>
