<%= form_for(@outfit) do |f| %>
  <% if @outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% @outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :worn_on %><br>
    <%= f.date_select :worn_on %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
  <%= f.label :tops %><br />
  <%= f.select(:clothing_ids, Clothing.where(category: "Top").collect {|a| [a.brand + " - " + a.description] }, {}, :multiple => true) %>
  </div>

    <div class="field">
  <%= f.label :bottoms %><br />
  <%= f.select(:clothing_ids, Clothing.where(category: "Bottom").collect {|a| [a.brand + " - " + a.description] }, {}, :multiple => true) %>
  </div>

    <div class="field">
  <%= f.label :jackets %><br />
  <%= f.select(:clothing_ids, Clothing.where(category: "Jacket").collect {|a| [a.brand + " - " + a.description] }, {}, :multiple => true) %>
  </div>

  <div class="field">
  <%= f.label :shoes %><br />
  <%= f.select(:clothing_ids, Clothing.where(category: "Shoes").collect {|a| [a.brand + " - " + a.description] }, {}, :multiple => true) %>
  </div>

  <div class="field">
  <%= f.label :accessories %><br />
  <%= f.select(:clothing_ids, Clothing.where(category: "Accessory").collect {|a| [a.brand + " - " + a.description] }, {}, :multiple => true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
